
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Registration Email to Client</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <style>
        *,body,p{margin:0; padding:0;}
        body{overflow: hidden; overflow-y: auto; font-family: 'Montserrat', sans-serif; font-weight: 500;}
    </style>
</head>
<body>
    <!-- 100% body table -->
    <table cellspacing="0" border="0" cellpadding="0" width="100%" bgcolor="#f2f3f8"
    style="@import url(https://fonts.googleapis.com/css?family=Rubik:300,400,50https://res.cloudinary.com/dqffs1rxq/image/upload/v1663149858/logo_sxtkrk.png0,700|Open+Sans:300,400,600,700); font-family: 'Open Sans', sans-serif; padding-top: 20px;  ">
    <tr>
    <td>
        <table style="max-width:670px; margin:0 auto;  position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50% , -50%);padding: 0 15px;" width="100%" border="0"
            align="center" cellpadding="0" cellspacing="0">
            <tr>
                <td>
                <table width="100%" style="border:0; border-spacing:0">
                    <tr>
                        <td style="height:40px;background-color: white; border:0; padding:0px" >&nbsp;</td>
                        </tr>
                </table>
                <table width="100%" border="0" align="center" cellpadding="0" cellspacing="0"
                    style="max-width:670px; background:#fff; border-radius:3px; text-align:center;">
                    <tr>
                        <td style="height:40px;">&nbsp;</td>
                    </tr>
                    <tr>
                        <td style="text-align:center;">
                            <img src="https://scontent-pnq1-2.xx.fbcdn.net/v/t39.30808-1/302727841_565862815334143_5641332959465340604_n.jpg?stp=cp0_dst-jpg_e15_p120x120_q65&_nc_cat=106&ccb=1-7&_nc_sid=dbb9e7&_nc_ohc=p0-WoksJKdkAX8--BgG&_nc_ht=scontent-pnq1-2.xx&oh=00_AfBBKmfIZk-F_6qA4A_Zl13QNXUZ2uvz2iOaGliYiR40Sw&oe=64602CE7" title="logo" alt="logo">
                        </td>
                    </tr>
                    <tr>
                        <td style="padding:0 35px;">
                            <p
                            style="font-size:15px; color:#001BEA; margin:35px 0 0; line-height:24px; font-weight: bold;">
                            Thanks for signing up to GFTR!
                            </span>
                            </p>
                            <p
                            style="color:#001BEA; font-size:18px;line-height:23px; margin:0; font-weight: 500; margin-top: 20px;">
                            <h3><strong> 
                                Hello <span style="color: #660F6F;"> {{ username }}, </span><br><br>
                                Please enter the following code to confirm your Team Cricket Live account:  <br> <br>
                               
                               <h1 style="color: #001BEA;">{{otp}}</h1><br>
                               If you did not register on Team Cricket Live, please disregard this email.<br><br>
                               Thank You, <br>
                               <h3 style="color: #001BEA;">Team Team Cricket Live</h3> 
                            </strong></h3>
                            </p>
                            
                        </td>
                    </tr>
                </table>
                <table width="100%" style="border:0; border-spacing:0">
                    <tr>
                        <td style="height:40px;background-color: white; border:0; padding:0px" >&nbsp;</td>
                        </tr>
                </table>
                </td>
            </tr>
            <tr>
                <td style="height:100px; background-color: white ">&nbsp;</td>
            </tr>
            <tr>
                <td style="height:50px; background-color: transparent ">&nbsp;</td>
            </tr>
            <tr>
                <td style="text-align:center; background-color: transparent;">
                <p
                    style="font-size:14px; color:#9f9f9f; line-height:18px; margin:0 0 0; font-weight: bold;padding-bottom: 20px;">
                    
                    Sent with <span style="margin-top:2px;"> <img src="https://res.cloudinary.com/dqffs1rxq/image/upload/v1663151795/heart_clyvbj.png" alt=""
                        width="15px" height="15px"> </span> from <span
                        style="background-color:#fce293 ;margin-left: 3px;">  Team Cricket Live </span>
                    </span>
                </p>
                </td>
            </tr>
        </table>
    </td>
    </tr>
    </table>
    <!--/100% body table-->

</body>
</html>